In [1]:
# import dependencies 
import pandas as pd 
import random
import datetime
import re

### IMPORTANT: Manually enter database passwords

In [5]:
# sqlalchemy config
from sqlalchemy import create_engine
host_1= 'stock-sentiment.cx2wqgu4uxsm.us-east-1.rds.amazonaws.com'
port_1=int(5432)
user_1="postgres"
passw_1=""
database_1="Stock-data"

In [7]:
db_string_1 = f"postgresql://{user_1}:{passw_1}@{host_1}:{port_1}/{database_1}"
engine_1 = create_engine(db_string_1)
print(db_string_1)

postgresql://postgres:1Rhinos!@stock-sentiment.cx2wqgu4uxsm.us-east-1.rds.amazonaws.com:5432/Stock-data

In [8]:
# Enter Personal database details
host_2 = '127.0.0.1'
port_2 = 5432
user_2 = 'postgres'
passw_2 = ""
database_2 = ""

In [10]:
db_string_2 = f"postgresql://{user_2}:{passw_2}@{host_2}:{port_2}/{database_2}"
engine_2 = create_engine(db_string_2)
print(db_string_2)

postgresql://postgres:SukaBlyat69@127.0.0.1:5432/stock_sentiment

In [11]:
#output_df.to_sql(name='comments', con=engine, if_exists='replace')

In [19]:
import psycopg2
import time

database_1="Stockdata"
db_string_1 = f"postgresql+psycopg2://{user_1}:{passw_1}@{host_1}:{port_1}/{database_1}"
engine_1 = create_engine(db_string_1, pool_recycle=3600)

# Connect to PostgreSQL Server
dbConnection = engine_1.connect()

# Read data from PostgreSQL and load into a DataFrame instance

# tracking number of imported rows
rows_imported = 0
row_ids = 1000000
start_time = time.time()
for data in pd.read_sql("select * from \"comments_posts\" limit 200000", dbConnection, chunksize = 10000):
    

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    ids_array = list(range(row_ids, (row_ids + len(data))))
    data.insert(0, 'comment_id', ids_array)
    data.to_sql(name='comments', con=engine_2, if_exists='append', index=False)
    rows_imported += len(data)
print(f'Done. {time.time() - start_time} total seconds elapsed')

#len(df.index)
#df.head()
#print(time.time() - start_time)
# for d in data_list:
#     print(d.head())
#print(f"total time: {time_sum}")
#print(len(data_list))

importing rows 0 to 10000...importing rows 10000 to 20000...importing rows 20000 to 30000...importing rows 30000 to 40000...importing rows 40000 to 50000...importing rows 50000 to 60000...importing rows 60000 to 70000...importing rows 70000 to 80000...importing rows 80000 to 90000...importing rows 90000 to 100000...importing rows 100000 to 110000...importing rows 110000 to 120000...importing rows 120000 to 130000...importing rows 130000 to 140000...importing rows 140000 to 150000...importing rows 150000 to 160000...importing rows 160000 to 170000...importing rows 170000 to 180000...importing rows 180000 to 190000...importing rows 190000 to 200000...Done. 30.22388243675232 total seconds elapsed

In [16]:
l = list(range(100, 200))
print(l)

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199]