In [7]:
#FROM https://pypi.org/project/yfinance/
#example use of yfinance library
import yfinance as yf


msft = yf.Ticker("MSFT")

# get stock info
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 181000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as strategic relationships with Avaya Holdings Corp. and wejo Limited. Microsoft Corporation was founded in 1975 and is based in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'industry': 'Softwareâ€”Infrastructure',
 'ebitdaMargins': 0.49327,
 'profitMargins': 0.37627998,
 'grossMargins': 0.6873,
 'operatingCashflow': 87115997184,
 'revenueGrowth': 0.184,
 'operatingMargins': 0.42556,
 'ebitda': 94982995968,
 'targetLowPrice': 298.18,
 'recommendationKey': 'buy',
 'grossProfits': 115856000000,
 'freeCashflow': 48917000192,
 'targetMedianPrice': 360,
 'currentPrice': 255.35,
 'earningsGrowth': 0.094,
 'currentRatio': 1.988,
 'returnOnAssets': 0.15674,
 'numberOfAnalystOpinions': 46,
 'targetMeanPrice': 362.95,
 'debtToEquity': 47.863,
 'returnOnEquity': 0.48721,
 'targetHighPrice': 425.96,
 'totalCash': 104660000768,
 'totalDebt': 77980999680,
 'totalRevenue': 192557006848,
 'totalCashPerShare': 13.994,
 'financialCurrency': 'USD',
 'revenuePerShare': 25.642,
 'quickRatio': 1.773,
 'recommendationMean': 1.7,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 10.64,
 'beta3Year': None,
 'enterpriseToEbitda': 21.571,
 '52WeekChange': 0.049969792,
 'morningStarRiskRating': None,
 'forwardEps': 10.78,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7479029760,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 21.773,
 'sharesShort': 41237238,
 'sharesPercentSharesOut': 0.0055,
 'fundFamily': None,
 'lastFiscalYearEnd': 1625011200,
 'heldPercentInstitutions': 0.72119004,
 'netIncomeToCommon': 72456003584,
 'trailingEps': 9.58,
 'lastDividendValue': 0.62,
 'SandP52WeekChange': -0.057182193,
 'priceToBook': 11.727828,
 'heldPercentInsiders': 0.00061,
 'nextFiscalYearEnd': 1688083200,
 'yield': None,
 'mostRecentQuarter': 1648684800,
 'shortRatio': 1.32,
 'sharesShortPreviousMonthDate': 1648684800,
 'floatShares': 7472077634,
 'beta': 0.908333,
 'enterpriseValue': 2048902299648,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1644969600,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.082,
 'priceToSalesTrailing12Months': 9.917948,
 'dateShortInterest': 1651190400,
 'pegRatio': 1.72,
 'ytdReturn': None,
 'forwardPE': 23.687386,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0055,
 'sharesShortPriorMonth': 36814442,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 260.55,
 'regularMarketOpen': 257.69,
 'twoHundredDayAverage': 304.7422,
 'trailingAnnualDividendYield': 0.009288046,
 'payoutRatio': 0.2463,
 'volume24Hr': None,
 'regularMarketDayHigh': 259.88,
 'navPrice': None,
 'averageDailyVolume10Day': 38244760,
 'regularMarketPreviousClose': 260.55,
 'fiftyDayAverage': 289.7288,
 'trailingAnnualDividendRate': 2.42,
 'open': 257.69,
 'toCurrency': None,
 'averageVolume10days': 38244760,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.48,
 'exDividendDate': 1652832000,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 250.02,
 'currency': 'USD',
 'trailingPE': 26.65449,
 'regularMarketVolume': 50875369,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1909770289152,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 33397400,
 'dayLow': 250.02,
 'ask': 0,
 'askSize': 900,
 'volume': 50875369,
 'fiftyTwoWeekHigh': 349.67,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.3,
 'fiftyTwoWeekLow': 238.6,
 'bid': 0,
 'tradeable': False,
 'dividendYield': 0.0092,
 'bidSize': 800,
 'dayHigh': 259.88,
 'regularMarketPrice': 255.35,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/microsoft.com',
 'trailingPegRatio': 1.7877}

In [8]:
#getting stocks history
hist = msft.history(period="max")
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.055783,0.063987,0.055783,0.061252,1031788800,0.0,0.0
1986-03-14,0.061252,0.064533,0.061252,0.063439,308160000,0.0,0.0
1986-03-17,0.063439,0.065080,0.063439,0.064533,133171200,0.0,0.0
1986-03-18,0.064533,0.065080,0.062345,0.062892,67766400,0.0,0.0
1986-03-19,0.062892,0.063439,0.061252,0.061799,47894400,0.0,0.0

In [9]:
#getting s&p 500 history
sp500=yf.Ticker("ES=F").history(period="max")
sp500

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-09-18,1485.25,1489.75,1462.25,1467.50,104794,0,0
2000-09-19,1467.00,1482.75,1466.75,1478.50,103371,0,0
2000-09-20,1478.75,1480.50,1450.25,1469.50,109667,0,0
2000-09-21,1470.25,1474.00,1455.50,1469.50,98528,0,0
2000-09-22,1454.75,1471.00,1436.75,1468.50,97416,0,0
...,...,...,...,...,...,...,...
2022-05-09,4087.25,4099.00,3970.00,3987.50,2139992,0,0
2022-05-10,3993.25,4065.50,3953.00,3996.75,2247750,0,0
2022-05-11,3990.50,4050.50,3923.75,3930.25,2157244,0,0
2022-05-12,3939.75,3961.75,3855.00,3927.25,2157244,0,0
2022-05-13,3916.25,3973.25,3915.50,3964.25,100737,0,0

In [18]:
#Removing
sp500 = sp500.drop(columns=["Dividends","Stock Splits"])

In [21]:
#adding ticker symbol
sp500['Ticker'] = "ES=F"
sp500

               Open     High      Low    Close   Volume Ticker
Date
2000-09-18  1485.25  1489.75  1462.25  1467.50   104794   ES=F
2000-09-19  1467.00  1482.75  1466.75  1478.50   103371   ES=F
2000-09-20  1478.75  1480.50  1450.25  1469.50   109667   ES=F
2000-09-21  1470.25  1474.00  1455.50  1469.50    98528   ES=F
2000-09-22  1454.75  1471.00  1436.75  1468.50    97416   ES=F
...             ...      ...      ...      ...      ...    ...
2022-05-09  4087.25  4099.00  3970.00  3987.50  2139992   ES=F
2022-05-10  3993.25  4065.50  3953.00  3996.75  2247750   ES=F
2022-05-11  3990.50  4050.50  3923.75  3930.25  2157244   ES=F
2022-05-12  3939.75  3961.75  3855.00  3927.25  2157244   ES=F
2022-05-13  3916.25  3973.25  3915.50  3964.25   100737   ES=F

[5473 rows x 6 columns]