In [ ]:
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
file_path = "/content/drive/MyDrive/Sentiment_Data/sentiment_filtered.csv"
sent_df = pd.read_csv(file_path, on_bad_lines='skip')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
len(sent_df.index)

943923

In [ ]:
file_path_1 = "/content/drive/MyDrive/Sentiment_Data/future_stock_prices.csv"
price_df = pd.read_csv(file_path_1)

In [ ]:
price_df.head()

,Date,Ticker,Open,High,Low,Close,Volume,CloseOver30,VolumeOver30,CloseOver60,VolumeOver60,CloseOver90,VolumeOver90
0,2018-01-02 00:00:00,AAPL,40.57,41.08,40.36,41.08,102223600,40.519667,1.626154e+08,41.154333,1.517164e+08,41.298222,1.466909e+08
1,2018-01-03 00:00:00,AAPL,41.14,41.62,41.00,41.07,118071600,40.531333,1.654993e+08,41.135000,1.522543e+08,41.344333,1.463025e+08
2,2018-01-04 00:00:00,AAPL,41.14,41.36,41.03,41.26,89738400,40.532000,1.678649e+08,41.119333,1.527772e+08,41.383778,1.463585e+08
3,2018-01-05 00:00:00,AAPL,41.36,41.82,41.26,41.73,94640000,40.512333,1.692343e+08,41.108667,1.535069e+08,41.422667,1.461595e+08
4,2018-01-08 00:00:00,AAPL,41.57,41.87,41.47,41.57,82271200,40.492000,1.714881e+08,41.105333,1.539312e+08,41.460111,1.460140e+08

In [ ]:
sent_df.head()

,comment_id,ticker,date,username,subreddit,body,overall_sent_comp,overall_sent_pos,overall_sent_neg,mean_t_comp_score,mean_t_pos_score,mean_t_neg_score,mean_tgt_comp_score,mean_tgt_pos_score,mean_tgt_neg_score,verb_tense,mean_custom_score
0,1007445,DIS,2020-08-11,Hubers57,wallstreetbets,Pretty uncommon to find a 100%+ iv stock like ...,0.5078,0.102,0.075,0.08706666666666667,0.11783333333333333,0.0485,-0.5818,0.084,0.157,present,0.0
1,1007451,MSFT,2020-08-11,duathman,wallstreetbets,Haha. If we keep swinging down it will wipe m...,-0.4215,0.167,0.203,0.009333333333333324,0.42,0.10533333333333333,-0.8126,0.082,0.316,future,-1.0
2,1007456,TA,2020-08-10,sc0tt_1990,wallstreetbets,Here''s what will happen: NCAA is rallying the...,0.9231,0.154,0,0.18462,0.059,0,0.9231,0.295,0,present,-1.0
3,1007469,TSLA,2020-08-10,smallstreetgains,wallstreetbets,**Subreddit:** /r/wallstreetbets\n\n**Searched...,0.1779,0.022,0.013,0.03119999999999999,0.006,0.08775,0.5267,0.024,0,present,0.142857
4,1007469,AAPL,2020-08-10,smallstreetgains,wallstreetbets,**Subreddit:** /r/wallstreetbets\n\n**Searched...,0.1779,0.022,0.013,0.03119999999999999,0.006,0.08775,0.5267,0.024,0,present,0.142857

In [ ]:
price_df.dtypes

Date             object
Ticker           object
Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
CloseOver30     float64
VolumeOver30    float64
CloseOver60     float64
VolumeOver60    float64
CloseOver90     float64
VolumeOver90    float64
dtype: object

In [ ]:
sent_df.dtypes

comment_id             object
ticker                 object
date                   object
username               object
subreddit              object
body                   object
overall_sent_comp      object
overall_sent_pos       object
overall_sent_neg       object
mean_t_comp_score      object
mean_t_pos_score       object
mean_t_neg_score       object
mean_tgt_comp_score    object
mean_tgt_pos_score     object
mean_tgt_neg_score     object
verb_tense             object
mean_custom_score      object
dtype: object

In [ ]:
price_df["Date"] = pd.to_datetime(price_df["Date"])

In [ ]:
price_df.head()

,Date,Ticker,Open,High,Low,Close,Volume,CloseOver30,VolumeOver30,CloseOver60,VolumeOver60,CloseOver90,VolumeOver90
0,2018-01-02,AAPL,40.57,41.08,40.36,41.08,102223600,40.519667,1.626154e+08,41.154333,1.517164e+08,41.298222,1.466909e+08
1,2018-01-03,AAPL,41.14,41.62,41.00,41.07,118071600,40.531333,1.654993e+08,41.135000,1.522543e+08,41.344333,1.463025e+08
2,2018-01-04,AAPL,41.14,41.36,41.03,41.26,89738400,40.532000,1.678649e+08,41.119333,1.527772e+08,41.383778,1.463585e+08
3,2018-01-05,AAPL,41.36,41.82,41.26,41.73,94640000,40.512333,1.692343e+08,41.108667,1.535069e+08,41.422667,1.461595e+08
4,2018-01-08,AAPL,41.57,41.87,41.47,41.57,82271200,40.492000,1.714881e+08,41.105333,1.539312e+08,41.460111,1.460140e+08

In [36]:
clean_sent_df['date'].value_counts()

2021-02-19    144563
2021-01-28      3807
2020-09-02      3298
2021-02-22      3295
2020-09-01      3242
               ...
2018-01-01        16
2019-08-31        15
2018-01-20        12
2021-02-07        12
2018-12-31         8
Name: date, Length: 1379, dtype: int64

In [31]:
ticker_list = ["BA","SPCE","TIL","MSFT","AMD","AAPL","AMZN","FB","DIS","NVDA","NFLX","GOOG","TSLA","SQ","BABA","TD","AI","TA"]

In [34]:
clean_sent_df = sent_df.loc[sent_df["ticker"].isin (ticker_list)]

In [37]:
clean_sent_df['date'] = pd.to_datetime(clean_sent_df['date'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [77]:
big_df = pd.merge(clean_sent_df, price_df, how='inner', left_on = ['date', 'ticker'], right_on = ['Date', 'Ticker'])

In [78]:
big_df.shape

(704346, 30)

In [79]:
big_df.head()

,comment_id,ticker,date,username,subreddit,body,overall_sent_comp,overall_sent_pos,overall_sent_neg,mean_t_comp_score,...,High,Low,Close,Volume,CloseOver30,VolumeOver30,CloseOver60,VolumeOver60,CloseOver90,VolumeOver90
0,1007445,DIS,2020-08-11,Hubers57,wallstreetbets,Pretty uncommon to find a 100%+ iv stock like ...,0.5078,0.102,0.075,0.08706666666666667,...,132.76,130.0,130.49,13885700,130.824333,8748880.0,127.534833,8.716522e+06,135.033889,10756920.0
1,1007594,DIS,2020-08-11,dcgkny,wallstreetbets,I meant everyone knew yesterday it would be ca...,0.8658,0.245,0.036,0.1761,...,132.76,130.0,130.49,13885700,130.824333,8748880.0,127.534833,8.716522e+06,135.033889,10756920.0
2,1001748,DIS,2020-08-11,Hubers57,wallstreetbets,Pretty uncommon to find a 100%+ iv stock like ...,0.5078,0.102,0.075,0.08706666666666667,...,132.76,130.0,130.49,13885700,130.824333,8748880.0,127.534833,8.716522e+06,135.033889,10756920.0
3,1004025,DIS,2020-08-11,Hubers57,wallstreetbets,Pretty uncommon to find a 100%+ iv stock like ...,0.5078,0.102,0.075,0.08706666666666667,...,132.76,130.0,130.49,13885700,130.824333,8748880.0,127.534833,8.716522e+06,135.033889,10756920.0
4,1008117,DIS,2020-08-11,YOLOing_2Success,wallstreetbets,DIS needs to die by EOW,-0.5994,0,0.438,-0.5994,...,132.76,130.0,130.49,13885700,130.824333,8748880.0,127.534833,8.716522e+06,135.033889,10756920.0

In [80]:
def price_diff(s1, s2):
  s3 = []
  for i in range(len(s1)):
    if (s2[i] - s1[i] >= 1):
      s3.append(1)
    elif (s2[i] - s1[i] <= -1):
      s3.append(-1) 
    else:
      s3.append(0)
  return s3

In [81]:
Co30_d = price_diff(big_df['Close'], big_df['CloseOver30'])

In [82]:
big_df['Co30_d'] = Co30_d

In [83]:
Co60_d = price_diff(big_df['Close'], big_df['CloseOver60'])

In [84]:
big_df['Co60_d'] = Co60_d

In [85]:
Co90_d = price_diff(big_df['Close'], big_df['CloseOver90'])

In [86]:
big_df['Co90_d'] = Co90_d

In [87]:
def vol_diff(s1, s2):
  s3 = []
  for i in range(len(s1)):
    if (s2[i] - s1[i] >= 100):
      s3.append(1)
    elif (s2[i] - s1[i] <= -100):
      s3.append(-1) 
    else:
      s3.append(0)
  return s3

In [88]:
Vo30_d = price_diff(big_df['Volume'], big_df['VolumeOver30'])

In [89]:
big_df['Vo30_d'] = Vo30_d

In [90]:
Vo60_d = price_diff(big_df['Volume'], big_df['VolumeOver60'])

In [91]:
big_df['Vo60_d'] = Vo60_d

In [92]:
Vo90_d = price_diff(big_df['Volume'], big_df['VolumeOver90'])

In [93]:
big_df['Vo90_d'] = Vo90_d

In [94]:
big_df.head()

,comment_id,ticker,date,username,subreddit,body,overall_sent_comp,overall_sent_pos,overall_sent_neg,mean_t_comp_score,...,CloseOver60,VolumeOver60,CloseOver90,VolumeOver90,Co30_d,Co60_d,Co90_d,Vo30_d,Vo60_d,Vo90_d
0,1007445,DIS,2020-08-11,Hubers57,wallstreetbets,Pretty uncommon to find a 100%+ iv stock like ...,0.5078,0.102,0.075,0.08706666666666667,...,127.534833,8.716522e+06,135.033889,10756920.0,0,-1,1,-1,-1,-1
1,1007594,DIS,2020-08-11,dcgkny,wallstreetbets,I meant everyone knew yesterday it would be ca...,0.8658,0.245,0.036,0.1761,...,127.534833,8.716522e+06,135.033889,10756920.0,0,-1,1,-1,-1,-1
2,1001748,DIS,2020-08-11,Hubers57,wallstreetbets,Pretty uncommon to find a 100%+ iv stock like ...,0.5078,0.102,0.075,0.08706666666666667,...,127.534833,8.716522e+06,135.033889,10756920.0,0,-1,1,-1,-1,-1
3,1004025,DIS,2020-08-11,Hubers57,wallstreetbets,Pretty uncommon to find a 100%+ iv stock like ...,0.5078,0.102,0.075,0.08706666666666667,...,127.534833,8.716522e+06,135.033889,10756920.0,0,-1,1,-1,-1,-1
4,1008117,DIS,2020-08-11,YOLOing_2Success,wallstreetbets,DIS needs to die by EOW,-0.5994,0,0.438,-0.5994,...,127.534833,8.716522e+06,135.033889,10756920.0,0,-1,1,-1,-1,-1

In [95]:
big_df['Vo30_d'].value_counts()

-1    368831
 1    334951
 0       564
Name: Vo30_d, dtype: int64

In [96]:
big_df.columns

Index(['comment_id', 'ticker', 'date', 'username', 'subreddit', 'body',
       'overall_sent_comp', 'overall_sent_pos', 'overall_sent_neg',
       'mean_t_comp_score', 'mean_t_pos_score', 'mean_t_neg_score',
       'mean_tgt_comp_score', 'mean_tgt_pos_score', 'mean_tgt_neg_score',
       'verb_tense', 'mean_custom_score', 'Date', 'Ticker', 'Open', 'High',
       'Low', 'Close', 'Volume', 'CloseOver30', 'VolumeOver30', 'CloseOver60',
       'VolumeOver60', 'CloseOver90', 'VolumeOver90', 'Co30_d', 'Co60_d',
       'Co90_d', 'Vo30_d', 'Vo60_d', 'Vo90_d'],
      dtype='object')

In [97]:
final_df = big_df.drop(columns=['comment_id', 'username', 'subreddit', 'body', 'Date', 'Ticker', 'Open', 'High', 'Low'])

In [98]:
final_df.head()

,ticker,date,overall_sent_comp,overall_sent_pos,overall_sent_neg,mean_t_comp_score,mean_t_pos_score,mean_t_neg_score,mean_tgt_comp_score,mean_tgt_pos_score,...,CloseOver60,VolumeOver60,CloseOver90,VolumeOver90,Co30_d,Co60_d,Co90_d,Vo30_d,Vo60_d,Vo90_d
0,DIS,2020-08-11,0.5078,0.102,0.075,0.08706666666666667,0.11783333333333333,0.0485,-0.5818,0.084,...,127.534833,8.716522e+06,135.033889,10756920.0,0,-1,1,-1,-1,-1
1,DIS,2020-08-11,0.8658,0.245,0.036,0.1761,0.16466666666666666,0.074,0.7783,0.494,...,127.534833,8.716522e+06,135.033889,10756920.0,0,-1,1,-1,-1,-1
2,DIS,2020-08-11,0.5078,0.102,0.075,0.08706666666666667,0.11783333333333333,0.0485,-0.5818,0.084,...,127.534833,8.716522e+06,135.033889,10756920.0,0,-1,1,-1,-1,-1
3,DIS,2020-08-11,0.5078,0.102,0.075,0.08706666666666667,0.11783333333333333,0.0485,-0.5818,0.084,...,127.534833,8.716522e+06,135.033889,10756920.0,0,-1,1,-1,-1,-1
4,DIS,2020-08-11,-0.5994,0,0.438,-0.5994,0,0.438,-0.5994,0,...,127.534833,8.716522e+06,135.033889,10756920.0,0,-1,1,-1,-1,-1

In [99]:
from google.colab import files

final_df.to_csv('cleaned_sentinment.csv', encoding = 'utf-8-sig') 
files.download('cleaned_sentinment.csv')